@import "_main";
.actual {
    height: 350px;
    background-color: rgba($color: #00868A, $alpha: .15);
}
.actual__header {
    font-size: 48px;
    font-weight: bold;
    color: #00868A;
    text-align: center;
    padding-top: 80px;
}
.offers__block {
    background-image: url(../img/laser1.png);
    padding: 30px;
    background-size: cover;
    background-position: center;
    width: 306px;
    height: 343px;
}
.offers__header {
    @include header-of-block(#4FBFA5);
    transform: none;
    margin-bottom: 160px;
}
.offers__footer {
    background-color: #00868A;
    width: inherit;
}